*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #111;
    padding: 70px;
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    z-index: 2;
    font-size: 40px;
    padding: 40px 20px;
    background-color: transparent;
    border-radius: 10px;
    font-family: monospace;
    background-color: rgba(0,0,0,0.2);
    /* color: rgb(17, 9, 9); */
    /* box-shadow: 0 0 10px rgba(17, 16, 16, 0.2);    */
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);   
    backdrop-filter: blur(5px);   
}

button{
    z-index: 2;
    padding: 15px 25px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: crimson;
    color: black;
    font-size: 20px;
    transition: all 0.2s ease;
    width: 200px;

}

button:active{
    scale: 0.95;
}

video{
    position: fixed;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    width: 100%;
    height : 100%;
    top: 0;
    left: 0;
}